<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"
	xmlns:sec="http://www.thymeLeaf.org/thymeleaf-extras-springsecurity5">

<head
	th:replace="fragments :: page_head('Categories - Eshop Admin Control Panel', 'none')" />
<body>
	<form th:action="@{/logout}" method="post" th:hidden="true"
		name="logoutForm">
		<input type="submit" />
	</form>
	<div class="container-fluid">
		<div th:replace=" navigation :: menu"></div>
		<div>
			<h2>Manage Categories</h2>
			<a th:href="@{/categories/new}" style="text-decoration: none;"
				class="fas fa-folder-plus fa-2x icon-dark mr-2"></a> <a
				th:href="@{/categories/export/csv}" style="text-decoration: none;"
				class="fas fa-file-csv fa-2x icon-dark mr-2"></a>
		</div>
		

			<div th:replace="fragments :: search_form_and_message"></div>


			<div class="full-details">
				<table
					class="table table-bordered table-striped table-hover table-responsive-xl">
					<thead class="thead-dark">
						<tr>
							<th>ID</th>
							<th>Category Image</th>
						<!-- 	<th><a class="text-white"
								th:href="@{'/categories/page/'+${pageNum}+'?sortDir='+ ${reverseSortDir}+${keyword != null ? '&keyword=' + keyword: ''}}">Category
									Name</a> <span
								th:class="${reverseSortDir =='desc'?'fas fa-sort-up':'fas fa-sort-down'}"></span>

							</th>-->
						    <th th:replace="fragments :: column_link('name','Category Name')" />
							<th>Alias</th>
							<th>Enabled</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="cat : ${listCategories}">
							<td>[[${cat.id}]]</td>
							<td><img th:src="@{${cat.imagePath}}" style="width: 100px"
								class="img-fluid"></td>
							<!--  -->
							<td>[[${cat.name}]]</td>
							<td>[[${cat.alias}]]</td>



							
							<td><div th:replace="fragments::status(${cat.enabled},'category','/categories/'+${cat.id})"/></td>
							<td><div th:replace="fragments::edit('category','/categories/edit/' + ${cat.id})"/>
						&nbsp;&nbsp;
						<div th:replace="fragments::delete('category',${cat.id},'/categories/delete/' + ${cat.id},${cat.isHasChildern()==false})"/></td>


						</tr>

					</tbody>
				</table>
			</div>
			
			
			
			
			<div class="less-details">
			<div th:each="cat : ${listCategories}" class="row m-1">
				<div class="col-4">
                     <img th:src="@{${cat.imagePath}}"style="height: 111px !important; width: 111px !important; class="img-fluid"" />
				</div>
				<div class="col-8" style="    background: #8080801f;">
					<div>[[${cat.name}]]</div>

					<div class="mt-2">
						<div th:replace="fragments::status(${cat.enabled},'category','/categories/'+${cat.id})"/>
						&nbsp;
						<div th:replace="fragments::edit('category','/categories/edit/' + ${cat.id})"/>
						&nbsp;&nbsp;
						<div th:replace="fragments::delete('category',${cat.id},'/categories/delete/' + ${cat.id},${cat.isHasChildern()==false})"/>
					</div>
				</div>
				<div>&nbsp;</div>
			</div>
		</div>
			<div th:if="${keyword != null}" class="text-center">
			
			<span>Search result does not show categories in hierarchical form  </span>
			
			<div th:replace="fragments :: pagination('categories')" />
			</div>
			<th:block th:unless="${keyword != null}" class="text-center">
	
			<div th:replace="fragments :: pagination('top-level categories')" />
			</div>
			
			
			
			
			<div th:replace="modal_fragments :: confirm_modal" />
			<div th:replace=" navigation :: footer"></div>
		</div>
	</div>
	<script th:src="@{/js/common_list.js}"></script>
	<script type="text/javascript">
		moduleURL = "[[@{/categories}]]"
		$(document).ready(function() {
			$(".link-delete").on("click", function(e) {
				e.preventDefault();
				showDeleteConfirmModel($(this), 'category');
			});
		});
	</script>

</body>
</html>