<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" xmlns:sec="http://www.thymeLeaf.org/thymeleaf-extras-springsecurity5">


	<head th:replace="fragments :: page_head(${pageTitle}, 'none')"/>

<body>
<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
		<input type="submit" />
	</form>
	<div class="container-fluid">
		<div>
					<div th:replace =" navigation :: menu"></div>
		</div>
		<div>
			<h2>Manage Categories | [[${pageTitle}]]</h2>
		</div>
		<form th:action="@{/categories/save}" method="post"
			style="max-width: 500px; margin: 0 auto" 
			enctype="multipart/form-data"
			onsubmit="return checkUnique(this)"
			th:object="${category}">
            <input type="hidden" th:field="*{id}"/>
			<div class="border border-secondary rounded p-3 ">
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Category Name:</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" required minlength="3"
							maxlength="128" th:field="*{name}" />
					</div>

				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Alias:</label>
					<div class="col-sm-8">
						<input type="text" class="form-control" required minlength="3"
							maxlength="64" th:field="*{alias}" />
					</div>

				</div>
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Parent Category:</label>
					<div class="col-sm-8">
						<select class="form-control" th:field="*{parent}">
						<option value="0">[No Parent]</option>
						<th:block th:each="cat :${listCategories}">
						<option th:value="${cat.id}">[[${cat.name}]]</option>
						
						</th:block>
						
						</select>
					</div>

				</div>
				
				<div class="form-group row">
					<label class="col-sm-4 col-form-label">Image:</label>
					<div class="col-sm-8">
					    <input type="hidden" th:field="*{image}"/>
						<input class="mb-2" type="file" id="fileImage" name="fileImage" accept="image/png, image/jpeg"  th:required=${category.imagePath==null}/>
					<div class=mt-2>
						<img id="thumbnail"alt="Image preview" 
						th:src="@{${category.imagePath}}"
						class="img-fluid" />
						</div>
					</div>

				</div>
                 <div class="form-group row">
					<label class="col-sm-4 col-form-label">Enabled:</label>
					<div class="col-sm-8">
						<input type="checkbox" th:field="*{enabled}" />
					</div>
				</div>
				<div class="text-center">
					<input type="submit" value="Save" class="btn btn-primary m-3" /> <input
						type="button" value="Cancel" class="btn btn-secondary"
						id="buttonCancel" />
				</div>
			</div>

		</form>
		
		<div th:replace =" modal_fragments :: modal_dialog"></div>
      <div th:replace =" navigation :: footer"></div>
	</div>
	<script type="text/javascript">
	MAX_FILE_SIZE = 102400;
	moduleURL="[[@{/categories}]]";
		function checkUnique(form){
			catId=$("#id").val();
			catName=$("#name").val();
			catAlias=$("#alias").val();
			csrfvalue = $("input[name='_csrf']").val();
			
			url = "[[@{/categories/check_unique}]]";
			params = {
					
					id: catId,
					name: catName,
					alias: catAlias,
					_csrf: csrfvalue
				};
			

			$.post(url, params, function(response) {
				if (response == 'OK') {
					form.submit();
				} else if (response == "DuplicateName") {
					showWarningModal("There is another category having the same name" + catName);
				} else if (response == "DuplicateAlias") {
					showWarningModal("There is another category having the same alias" + catAlias);
				}else {
					showErrorModal("Unknown response from server");
				}
				
			}).fail(function() {
				showErrorModal("Could not connect to the server");
			});
				
			
			
			return false;
		}
	</script>
	<script th:src="@{/js/common_form.js}"></script>
</body>

</html>