<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"
xmlns:sec="http://www.thymeLeaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: page_head('USERS - Eshop Admin Control Panel', 'none')"/>
<body>
<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
		<input type="submit" />
	</form>
	<div class="container-fluid">
		<div th:replace =" navigation :: menu"></div>
		<div>
			<h2>Manage Users</h2>	
			<a th:href="@{/users/new}" style="text-decoration: none;" class="fas fa-user-plus fa-2x icon-dark mr-2"></a>

			<a th:href="@{/users/export/csv}" style="text-decoration: none;" class="fas fa-file-csv fa-2x icon-dark mr-2"></a>

			
		</div>
		
			<div th:replace="fragments :: search_form_and_message"></div>
			<div class="full-details">
			<table
				class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="thead-dark">
					<tr>
						<th th:replace="fragments :: column_link('id','User ID')" />
						<th>Photos</th>
						<th th:replace="fragments :: column_link('email','Email')" />
						<!--  <th>
						   <a th:if="${sortField != 'email'}" class="text-white"
						    th:href="@{' /users/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${sortDir}+ ${keyword != null ? '&keyword=' + keyword :''}}"
						   >
						   Email</a>
						   
						    <a th:if="${sortField == 'email'}" class="text-white"
						    th:href="@{' /users/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword :''}}"
						   >
						   Email</a>
						   
						   <span th:if="${sortField == 'email'}"
						   th:class="${sortDir =='asc'?'fas fa-sort-up':'fas fa-sort-down'}"></span>
						</th> -->
						<th th:replace="fragments :: column_link('firstName','First Name')" />
						<th th:replace="fragments :: column_link('lastName','Last Name')" />
						<th>Roles</th>
						<th th:replace="fragments :: column_link('enabled','Enabled')" />
						<th>Actions</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${listUsers}">
						<td>[[${user.id}]]</td>
						<td><div th:replace="fragments::user_photos"/></td>
						<!--  -->
						<td>[[${user.email}]]</td>
						<td>[[${user.firstName}]]</td>
						<td>[[${user.lastName}]]</td>
						<td>[[${user.roles}]]</td>

						<td><div th:replace="fragments::status(${user.enabled},'user','/users/'+${user.id})"/></td>


						<td><div th:replace="fragments::edit('user','/users/edit/' + ${user.id})"/>
						&nbsp;&nbsp;
						<div th:replace="fragments::delete('user',${user.id},'/users/delete/' + ${user.id},true)"/>
						
						</td>
					</tr>

				</tbody>
			</table>
		</div>
		<div class="less-details">
			<div th:each="user : ${listUsers}" class="row m-1">
				<div class="col-4">
	            <div th:replace="fragments::user_photos"/>
				</div>
				<div class="col-8">
					<div>[[${user.firstName}]]&nbsp;[[${user.lastName}]]</div>
					<div>[[${user.roles}]]</div>
					<div class="mt-2">
						<div th:replace="fragments::status(${user.enabled},'user','/users/'+${user.id})"/>
                            &nbsp;

						<div th:replace="fragments::edit('user','/users/edit/' + ${user.id})"/>
						&nbsp;&nbsp;
						<div th:replace="fragments::delete('user',${user.id},'/users/delete/' + ${user.id},true)"/>
						
					</div>
				</div>
				<div>&nbsp;</div>
			</div>
		</div>
		
		<div th:replace="fragments :: pagination('users')"/>
	    <div th:replace="modal_fragments :: confirm_modal" />
		<div th:replace =" navigation :: footer"></div>
	</div>
	</div>
	<script th:src="@{/js/common_list.js}"></script>
	<script type="text/javascript">
	
	moduleURL = "[[@{/users}]]";

	$(document).ready(function() {
		$(".link-delete").on("click", function(e) {
			e.preventDefault();
			showDeleteConfirmModel($(this), 'user');
		});
	});
</script>
</body>
</html>