<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Products - Eshop Admin Control Panel', 'none')" />
<body>
<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
		<input type="submit" />
</form>
<div class="container-fluid">
	<div th:replace="navigation :: menu"></div>
	<div>
		<h2>Manage Products</h2>	
		<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
		<a th:href="@{/products/new}" class="fas fa-folder-plus fa-2x icon-dark mr-2"></a>
		<a th:href="@{/products/export/csv}" class="fas fa-file-csv fa-2x icon-dark mr-2"></a>
	    </th:block>
	</div>
	<div>
	<form th:action="@{/products/page/1}" class="form-inline m-3" id="searchForm">
			<input type="hidden" name="sortField" th:value="${sortField}" />
			<input type="hidden" name="sortDir" th:value="${sortDir}" />
			
			Category:&nbsp;
			<select class="form-control" name="categoryId" id="dropdownCategory">
				<option value="0">All Categories</option>
				
				<th:block th:each="cat : ${listCategories}">
				<option th:value="${cat.id}" th:selected="(${categoryId} == ${cat.id})" >[[${cat.name}]]</option>
				</th:block>
			</select>
			
			&nbsp;Filter:&nbsp;
			<input type="search" name="keyword" th:value="${keyword}" class="form-control" required/>
			&nbsp;&nbsp;
			<button type="submit" class="btn btn-primary">
				<i class="fas fa-search"></i>
			</button>
			&nbsp;&nbsp;
			<button type="button" class="btn btn-secondary" onclick="clearFilter()">
				<i class="fas fa-eraser"></i>
			</button>
		</form>
		<div th:if="${message != null}" class="alert alert-success text-center">
			[[${message}]]
		</div>	
	</div>	
	<div class="full-details">
		<table class="table table-bordered table-striped table-hover table-responsive-xl">
			<thead class="thead-dark">
				<tr>
					<th th:replace="fragments :: column_link('id','ID')" />
					<th>Main Image</th>
					<th th:replace="fragments :: column_link('name', 'Product Name')" />
					<th th:replace="fragments :: column_link('brand', 'Brand')" />
					<th th:replace="fragments :: column_link('category', 'Category')" />
					<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
					<th>Enabled</th>
					</th:block>
					<th></th>
				</tr>								
			</thead>
			<tbody>
				<tr th:each="product : ${listProducts}">
					<td>[[${product.id}]]</td>
					<td><img th:src="@{${product.mainImagePath}}" style="width: 120px" class="img-fluid" /></td>
			        <td>
						<a class="link-detail"
							th:href="@{'/products/detail/' + ${product.id}}"
							th:title="${product.name}"
							>[[${product.shortName}]]</a>					
						
					</td>
					<td>[[${product.brand.name}]]</td>
					<td>[[${product.category.name}]]</td>
					<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
					<td>
						<div th:replace="fragments :: status(${product.enabled}, 'product', '/products/' + ${product.id})" />
					</td>
					</th:block>
					<td>
						<a class="fas fa-file-alt fa-2x icon-green link-detail"
							th:href="@{'/products/detail/' + ${product.id}}"
							title="View details of this product"
							></a>
						<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson')">
						&nbsp; 	
						<div th:replace="fragments :: edit('product', '/products/edit/' + ${product.id})" />
						</th:block>
						<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
						&nbsp; 
						<div th:replace="fragments :: delete('product', ${product.id}, '/products/delete/' + ${product.id}, true)" />						
					    </th:block>	
					</td>					
				</tr>
			</tbody>
		</table>
	</div>
	<div class="less-details">
		<div th:each="product : ${listProducts}" class="row m-1">
			<div class="col-4">
				<img th:src="@{${product.mainImagePath}}" style="width: 80px" class="img-fluid" />			
			</div>
			<div class="col-8">
				<div>
					<a class="link-detail" th:href="@{'/products/detail/' + ${product.id}}">[[${product.shortName}]]</a>				
				</div>
				<div class="mt-2">
					<a class="fas fa-file-alt fa-2x icon-green link-detail"
						th:href="@{'/products/detail/' + ${product.id}}"
						></a>
						
					<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson')">
					&nbsp; 	
					<div th:replace="fragments :: edit('product', '/products/edit/' + ${product.id})" />
					</th:block>
					
					<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
					&nbsp; 
					<div th:replace="fragments :: delete('product', ${product.id}, '/products/delete/' + ${product.id}, true)" />
					</th:block>		
				</div>
			</div>
			<div>&nbsp;</div>
		</div>	
	</div>
	
	<div th:replace="modal_fragments :: confirm_modal" />
	
	<div class="modal fade" id="detailModal">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
			</div>
		</div>
	</div>
	
		<div th:replace="fragments :: pagination('products')"></div>
	
	<div th:replace=" navigation :: footer"></div>
	
</div>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
	moduleURL = "[[@{/products}]]";

	$(document).ready(function() {
		$(".link-delete").on("click", function(e) {
			e.preventDefault();
			showDeleteConfirmModel($(this), 'product');
		});
		
		$(".link-detail").on("click", function(e) {
			e.preventDefault();
			linkDetailURL = $(this).attr("href");
			$("#detailModal").modal("show").find(".modal-content").load(linkDetailURL);
		});
		$("#dropdownCategory").on("change", function() {
			$("#searchForm").submit();
		});
	});
</script>
</body>
</html>