<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"
	xmlns:sec="http://www.thymeLeaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Home - Eshop Admin Control Panel', 'none')"/>
<body>
	<div class="container-fluid">
		<div>
		<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
		<input type="submit" />
	</form>
	
	 	<div th:replace =" navigation :: menu"></div>

		<br>
		<br>
		<br>
		<div class="text-center m-3">
			<h1>Welcome to Blue Jet Admin Control Panel</h1>
			<h2><a th:href="@{/account}"sec:authentication="principal.fullname"></a>
				&nbsp;	
			<span sec:authentication="principal.authorities"></span></h2>
		
		</div>
        <br>
        <br>
        <br>
		<div th:replace =" navigation :: footer"></div>
	</div>
	</div>
	

</body>
</html>