<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" xmlns:sec="http://www.thymeLeaf.org/thymeleaf-extras-springsecurity5">
<body>
	<div th:fragment="menu">
			<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
				<a th:href="@{/}"><img style="max-width: 300px;" th:src="@{/images/bluejet.png}" /></a>
				<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#topNavbar">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="topNavbar">
					<ul class="navbar-nav">
						<li class="nav-item dropdown" sec:authorize="hasAuthority('Admin')"><a
							class="nav-link dropdown-toggle" data-toggle="dropdown"
							th:href="@{/users}">Users</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" th:href="@{/users/new}">Create New</a>
								<a class="dropdown-item" th:href="@{/users}">View All</a>
							</div></li>

                    <th:block sec:authorize="hasAnyAuthority('Admin','Editor')">
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" data-toggle="dropdown"
							th:href="@{/categories}">Categories</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" th:href="@{/categories/new}">Create
									New</a> <a class="dropdown-item" th:href="@{/categories}">View
									All</a>
							</div></li>
                     </th:block>
                        </th:block>
                        <th:block sec:authorize="hasAnyAuthority('Admin','Editor')">
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" data-toggle="dropdown"
							th:href="@{/brands}">Brands</a>
							<div class="dropdown-menu">
								<a class="dropdown-item" th:href="@{/brands/new}">Create New</a>
								<a class="dropdown-item" th:href="@{/brands}">View All</a>
							</div></li>
                          </th:block>
                         <th:block sec:authorize="hasAnyAuthority('Admin','Editor','Salesperson','Shipper')">
                          
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" data-toggle="dropdown"
							th:href="@{/products}">Products</a>
							<div class="dropdown-menu">
							<th:block sec:authorize="hasAnyAuthority('Admin','Editor')">
								<a class="dropdown-item" th:href="@{/products/new}">Create New</a> 
								</th:block>
									<a class="dropdown-item" th:href="@{/products}">View All</a>
							</div></li>
							</th:block>
                         
							
							
                         
						<li><span class="fas fa-user fa-2x icon-silver"></span></li>
						<li class="nav-item dropdown"><a
							class="nav-link dropdown-toggle" data-toggle="dropdown"
							th:href="@{/account}"sec:authentication="principal.fullname"></a>
							<div class="dropdown-menu">
								<a class="dropdown-item" id="logoutLink" href="">Logout</a>
							</div></li>

					</ul>

				</div>

			</nav>

		</div>
	
	   <div class="text-center m-3" th:fragment="footer">
			<p>BlueJet Control Panel - Copyright &copy; BlueJet</p>
		</div>
		
</body>
</html>