<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org"
xmlns:sec="http://www.thymeLeaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: page_head('Brands - Eshop Admin Control Panel', 'none')"/>
<body>
<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
		<input type="submit" />
</form>
<div class="container-fluid">
		<div th:replace =" navigation :: menu"></div>
		<div>
		<h2>Manage Brands</h2>	
		<a th:href="@{/brands/new}" style="text-decoration: none;"class="fas fa-folder-plus fa-2x icon-dark mr-2"></a>
		<a th:href="@{/brands/export/csv}" style="text-decoration: none;"class="fas fa-file-csv fa-2x icon-dark mr-2"></a>
		</div>
		<div th:replace="fragments :: search_form_and_message"></div>
		
		
		<div class="full-details">
				<table
					class="table table-bordered table-striped table-hover table-responsive-xl">
					<thead class="thead-dark">
						<tr>
							<th>Brand ID</th>
							<th>Logo</th>
							<th th:replace="fragments :: column_link('name','Brand Name')" />
							<th>Categories</th>
							<th>Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="brand : ${listBrands}">
							<td>[[${brand.id}]]</td>
							<td> 
							<img th:src="@{${brand.logoPath}}" style="width: 100px" class="img-fluid"/>
							</td>
							<td>[[${brand.name}]]</td>
							<td>
							<th:block th:each="cat : ${brand.categories}">
							<span class="badge badge-secondary" th:text="${cat.name}"></span>
							
							</th:block>
							
							</td>
						<td><div th:replace="fragments::edit('brand','/brands/edit/' + ${brand.id})"/>
						&nbsp;&nbsp;
						<div th:replace="fragments::delete('brand',${brand.id},'/brands/delete/' + ${brand.id},true)"/></td>


						</tr>

					</tbody>
				</table>
			</div>
			
			
			
			
			<div class="less-details">
			<div th:each="brand : ${listBrands}" class="row m-1">
				<div class="col-4">
               <img th:src="@{${brand.logoPath}}" style="width: 100px" class="img-fluid"/>	
				</div>
				<div class="col-8" style="    background: #8080801f;">
					<div>[[${brand.name}]]</div>

					<div class="mt-2">
						
					<div th:replace="fragments::edit('brand','/brands/edit/' + ${brand.id})"/>
						&nbsp;&nbsp;
						<div th:replace="fragments::delete('brand',${brand.id},'/brands/delete/' + ${brand.id},true)"/>
					</div>
				</div>
				<div>&nbsp;</div>
			</div>
		</div>
			
	
			
			
			
				<div th:replace="fragments :: pagination('brands')"/>
			<div th:replace="modal_fragments :: confirm_modal" />
			<div th:replace=" navigation :: footer"></div>
		</div>
	</div>
	

	
	<script th:src="@{/js/common_list.js}"></script>
	<script type="text/javascript">
		moduleURL = "[[@{/brands}]]"
		$(document).ready(function() {
			$(".link-delete").on("click", function(e) {
				e.preventDefault();
				showDeleteConfirmModel($(this), 'brand');
			});
		});
	</script>
</body>
</html>